<!DOCTYPE html>
<html lang="{{ default .Site.LanguageCode "en-US" }}">

<head>
  {{ partial "head" . }}
</head>

<body id="fullsingle" class="page-template-page-fullsingle-split">

  <div class="fs-split">

    <!-- Content Side -->
    <div class="split-content {{ if .Page.Params.oneColumn }}one-column{{ end }}">
      <div class="split-content-vertically-center">

        {{ partial "intro" . }}

        {{ block "main" .  }}
          {{ partial "bio" . }}
        {{ end }}

        {{ partial "footer" . }}
      </div>
    </div>
    {{ if .Page.Params.oneColumn }}

    {{ else }}
      <!-- Image -->
      {{ if .Site.Params.visual.image.enable }}

        <div class="split-image">

        </div>

      <!-- Video -->
      {{ else if .Site.Params.visual.video.enable }}

        {{ partial "video" . }}

      {{ end }}
    {{ end }}

  </div>

</body>
</html>
